.heroImage{
    background-image: url('../src/assets/page/hero.png');
}

.pineaple{
    background-image: url('../src/assets/page/pineaple.png');
}


.footerFondo{
    background-image: url('../src/assets/page/FOOTER.png');
}